body {
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    max-width: 100%;
}
:root {
    --display-text-size: 4.5vw;
    --h1-size: 3.6vw;
    --h2-size: 3vw;
    --h3-size: 2.75vw;
    --h4-size: 2.75vw;
    --h5-size: 2.25vw;
    --copy-jumbo-size: 5rem;
    --copy-large-size: 1.5rem;
     --copy-medium-size: 1.25rem;
        --copy-jumbo-line: 1;
        --copy-large-line: 1.33333333;
        --copy-medium-line: 1.4;
        --copy-small-line: 1.75;
}
h1 {
    font-size: var(--h1-size);
    line-break: normal;
    font-weight: 400;
    letter-spacing: -.0625rem;
}
h2 {
    font-size: var(--h2-size);
    letter-spacing: -.0625rem;
    font-weight: 400;
    line-break: normal;
    text-align: center;
}
h3 {
    font-size: var(--h3-size);
    letter-spacing: -.0625rem;
    font-weight: 400;
    line-break: normal;
    text-align: center;
}
p{
    font-weight: 400;
    font-family: sans-serif;
}
aside {
    background-color: #241c15;
    color: #fff;
    display: flex;
    padding: .75 1rem;
    align-items: center;
    justify-content: center;
    font-size: .8125rem;
    display: flex;
    flex-direction: column;
}
.aside-top {
  width: 100%;
  height: 25px;
  padding: 0%;
  padding-bottom: 0.5rem;
  background-color: white;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: center;
}
.ıntuıt{
  font-family:"Titillium Web", sans-serif;
  color: grey;
  margin-left: 1em;
  font-weight: bolder;
  font-size: larger;
}
aside > a {
    color: white !important;
}
header {
    position: absolute;
    background-color: #fbeeca;
    z-index: 1;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
    height: 65px;
}


header.scrolled {
    background-color: #fff;
    top:0%;
    position: fixed;
}
header:hover {
    background-color: #fff;
}
main {
    top: 50px;
    position: relative;
}
#top-main {
    top:0%;
}
.nav-topbar , .nav {
    width: 100%;
    height: 70px;
}
.nav-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.holder-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.holder-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
li {
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-size: small;
    font-weight: 450;
  }
  #top-main {
    padding: 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    background-color: #fbeeca;
  }
  img { 
    height: 400px;
  }
  .top-left {
    padding-right: 10%;
  }
  .top-left > p {
    padding-bottom: 2%;
  }
  .yellow-button {
    width: 100px;
    background-color: #ffe01b;
    padding: 12px;
    border-radius: 50px;
    border: 2px solid;
    transition: background-color 0.5s ease-in-out;
    align-items: center;
    text-align: center;
    font-weight:normal;
  }
  .yellow-button:hover {
    animation: 1s linear button-translation;
  }
  .white-button:hover {
    animation: 1s linear button-translation;
  }
  @keyframes button-translation {
    25% {
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(-9px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .align-center {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-quote {
    width: 50%;
    position: relative;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

  }
  .img-hover {
    display: flex;
    position: relative;
    height: 300px;
    width: 85%;
    padding: 2rem 5rem 2rem 5rem;
    align-items: center;
    justify-content: center;
    max-width: 700px;
  }
  .img-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0%;
  }
  .hoover-img {
   height: 270px;
   border: 1px solid;
   margin: 1px;
   transition: height 0.2s ease-in-out;
  }
  .hoover-img:hover {
  height: 370px;
  }
  .grey-area {
    background-color: #f6f6f4;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 2rem;
  }
  .line-quotes {
    display: flex;
    flex-direction: row;
    padding: 2em;
  }
  .l-quote {
    padding: 2em;
  }
.draw-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
  width: 100%;
}
.draw {
  width: 55%;
  align-items: center;
  justify-content: center;
  padding: 1%;
  padding-left: 2%;
}
.img-draw {
  max-width: 100%;
  height: auto;
}
.draw-quote {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 7%;
  text-align: center;
}
.svg {
  width: 140px;
  padding: 0%;
}
a:link {
  color:#241c15;
  transition: color 0.3s ease-in-out;
}
a:hover{
  color: white;
}
.cream-section {
  background-color:#fbeeca;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  padding: 3rem 8rem 3rem 8rem;
}
.grid-div {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid-img {
  width: 70%;
  height: 70%;
}
.yellow-section {
  background-color: #ffe01b;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p > a {
  color: white !important;
}
.white-button {
  width: 100px;
  background-color: transparent;
  padding: 12px;
  border-radius: 50px;
  border: 2px solid;
  transition: background-color 0.5s ease-in-out;
  align-items: center;
  text-align: center;
  font-weight:normal;
}
footer {
  background-color: #e7b75f;
  margin: 0%;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
}
